/* Jonathan Behar Homework 6 GifTastic */

@font-face {
    font-family: 'team_spirit_nfregular';
    src: url('fonts/teamspirit/teamspiritnf-webfont.woff2') format('woff2'),
         url('fonts/teamspirit/teamspiritnf-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'sf_sports_night_uprightRg';
    src: url('fonts/sports_font/sfsportsnightupright-webfont.woff2') format('woff2'),
         url('fonts/sports_font/sfsportsnightupright-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'sf_sports_night_ns_uprightRg';
    src: url('fonts/sports_font/sfsportsnightnsupright-webfont.woff2') format('woff2'),
         url('fonts/sports_font/sfsportsnightnsupright-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'sf_sports_night_ns_altuprigRg';
    src: url('fonts/sports_font/sfsportsnightnsaltupright-webfont.woff2') format('woff2'),
         url('fonts/sports_font/sfsportsnightnsaltupright-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'sf_sports_night_ns_alternatRg';
    src: url('fonts/sports_font/sfsportsnightnsalternate-webfont.woff2') format('woff2'),
         url('fonts/sports_font/sfsportsnightnsalternate-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'sf_sports_night_nsregular';
    src: url('fonts/sports_font/sfsportsnightns-webfont.woff2') format('woff2'),
         url('fonts/sports_font/sfsportsnightns-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'sf_sports_night_altuprightRg';
    src: url('fonts/sports_font/sfsportsnightaltupright-webfont.woff2') format('woff2'),
         url('fonts/sports_font/sfsportsnightaltupright-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'sf_sports_night_alternateRg';
    src: url('fonts/sports_font/sfsportsnightalternate-webfont.woff2') format('woff2'),
         url('fonts/sports_font/sfsportsnightalternate-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'sf_sports_nightregular';
    src: url('fonts/sports_font/sfsportsnight-webfont.woff2') format('woff2'),
         url('fonts/sports_font/sfsportsnight-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
    text-align: center;
}

body {
    background-image: url("../../assets/images/Sports.png");
    background-repeat: repeat;
    background-color: #cccccc;
    font-family: Arial, Helvetica, sans-serif;
}


/* h1 {
    font-family: 'team_spirit_nfregular', 'Times New Roman', Times, serif;
    color: red;  
} */

h1 {
    font-family: 'team_spirit_nfregular', 'Times New Roman', Times, serif;
    font-size: 8vw;
    color: red;
    margin-top: 5%;
    text-align: center;
  }
.threeD {
      font-size: 8vw;
      font-weight: normal;
      text-align: center;
      margin: 5% 0 0 0;
      color: red;
      text-shadow:
          -1px 1px 0 #ddd,
          -2px 2px 0 #c8c8c8,
          -3px 3px 0 #ccc,
          -4px 4px 0 #b8b8b8,
          -4px 4px 0 #bbb,
          0px 1px 1px rgba(0,0,0,.4),
          0px 2px 2px rgba(0,0,0,.3),
          -1px 3px 3px rgba(0,0,0,.2),
          -1px 5px 5px rgba(0,0,0,.1),
          -2px 8px 8px rgba(0,0,0,.1),
          -2px 13px 13px rgba(0,0,0,.1)
          ;
  }


  .threeDB {
    font-size: 2vw;
    font-weight: normal;
    text-align: center;
    margin: 5% 0 0 0;
    color: #ffffff;
    text-shadow:
        -1px 1px 0 #ddd,
        -2px 2px 0 #c8c8c8,
        -3px 3px 0 #ccc,
        -4px 4px 0 #b8b8b8,
        -4px 4px 0 #bbb,
        0px 1px 1px rgba(0,0,0,.4),
        0px 2px 2px rgba(0,0,0,.3),
        -1px 3px 3px rgba(0,0,0,.2),
        -1px 5px 5px rgba(0,0,0,.1),
        -2px 8px 8px rgba(0,0,0,.1),
        -2px 13px 13px rgba(0,0,0,.1)
        ;
}

.container-fluid {
    margin: 25px;
    margin-left: 25px;
}



button {
    font-family: 'team_spirit_nfregular';
    display: inline-block;
    font-size: 3vw;
    margin: 5px;
    font-weight: normal;
    text-align: center;
    color: #ffffff;
    
    /* text-shadow:
        -1px 1px 0 #ddd,
        -2px 2px 0 #c8c8c8,
        -3px 3px 0 #ccc,
        -4px 4px 0 #b8b8b8,
        -4px 4px 0 #bbb,
        0px 1px 1px rgba(0,0,0,.4),
        0px 2px 2px rgba(0,0,0,.3),
        -1px 3px 3px rgba(0,0,0,.2),
        -1px 5px 5px rgba(0,0,0,.1),
        -2px 8px 8px rgba(0,0,0,.1),
        -2px 13px 13px rgba(0,0,0,.1)
        ; */

}



#addtext {
    font-size: 30px;
    color: #a10714;
    padding-bottom: 15px;
}

.newItem {
    display: block;
    float: left;
    margin: 20px;
}

.newItem p{
    font-weight: bold;
    padding-bottom: 5px;
}

.newItem img{
    box-shadow: 0px 0px 10px 2px #888888;
    /* box-shadow: 3px 3px 8px #888888; */
}

.row {
    margin-right: 35px;
    margin-left: 35px;
}

.sports {
    font-family: 'team_spirit_nfregular';
    text-shadow:
    -1px 1px 0 #ddd,
    -2px 2px 0 #c8c8c8,
    -3px 3px 0 #ccc,
    -4px 4px 0 #b8b8b8,
    -4px 4px 0 #bbb,
    0px 1px 1px rgba(0,0,0,.4),
    0px 2px 2px rgba(0,0,0,.3),
    -1px 3px 3px rgba(0,0,0,.2),
    -1px 5px 5px rgba(0,0,0,.1),
    -2px 8px 8px rgba(0,0,0,.1),
    -2px 13px 13px rgba(0,0,0,.1)
    ;
}

.sfsports {
    font-family: 'sf_sports_nightregular';
    /* font-family: 'team_spirit_nfregular'; */
    /* text-shadow:
    -1px 1px 0 #ddd,
    -2px 2px 0 #c8c8c8,
    -3px 3px 0 #ccc,
    -4px 4px 0 #b8b8b8,
    -4px 4px 0 #bbb,
    0px 1px 1px rgba(0,0,0,.4),
    0px 2px 2px rgba(0,0,0,.3),
    -1px 3px 3px rgba(0,0,0,.2),
    -1px 5px 5px rgba(0,0,0,.1),
    -2px 8px 8px rgba(0,0,0,.1),
    -2px 13px 13px rgba(0,0,0,.1)
    ; */
}

.btn-hot {
    color: #fff;
    background-color: #ff0000;
    border-bottom: 4px solid #9e0000;
    box-shadow: 1px 1px 5px #888888;
}

.btn-hot:hover, .btn-hot.active:focus, .btn-hot:focus, .open>.dropdown-toggle.btn-hot {
    color: #fff;
    background-color: #ff0000;
    border-bottom: 4px solid #b25560;
    outline: none;
    box-shadow: 1px 1px 5px #888888;
}
    
    
.btn-hot:active, .btn-hot.active {
    color: #fff;
    background-color: #ff0000;
    border-top: 4px solid #990000;
    margin-top: 2px;
    box-shadow: 1px 1px 5px #888888;
}

.btn-sky {
    color: #fff;
    background-color: #007BFF;
    border-bottom: 4px solid #001969;
    box-shadow: 1px 1px 5px #888888;
}

.btn-sky:hover, .btn-sky.active:focus, .btn-sky:focus, .open>.dropdown-toggle.btn-sky {
    color: #fff;
    background-color: #007BFF;
    border-bottom: 4px solid #031191;
    outline: none;
    box-shadow: 1px 1px 5px #888888;
}
    
    
.btn-sky:active, .btn-sky.active {
    color: #fff;
    background-color: #007BFF;
    border-top: 4px solid #011c75;
    margin-top: 2px;
    box-shadow: 1px 1px 5px #888888;
}

.btn:focus,
.btn:active:focus,
.btn.active:focus {
    outline: none;
    outline-offset: 0px;
}

.shadowbox {
    box-shadow: 1px 1px 5px #888888;
}